build/
cmake-build-*/

*.o
*.out
*.so
*.a

*.log
*.tmp

assets/models/ps1_gt1-style_model_-_1992_emery_aventus.glb
assets/models/ps1_gt1-style_model_-_1994_kineto_rm-x.glb

.cache/
.vscode/
.VSCodeCounter/